body {
  padding-top: 50px;
}

.login-form > div {
    margin-top: 10px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.selected {
	border-bottom: 1px solid #555;
}