{
    "env": "%__ENV__%",
    "debug": true,
    "database": {
		"driver": "pdo_mysql",
		"host": "localhost",
		"dbname": "ac_todos",
		"user": "myuser",
		"password": "",
		"charset": "utf8"
    },
    "any": {
        "other": "constant"
    }
}
