{
    "env": "%__ENV__%",
    "debug": false,
    "database": {
		"driver": "pdo_mysql",
		"host": "localhost",
		"dbname": "ac_todos",
		"user": "myuser",
		"password": "",
		"charset": "utf8"
    },
    "assets":{
        "version":"constant",
        "version_format":"%s?version=%s",
        "named_packages":{
            "css":{
                "version":"2.0",
                "base_path":"/css"
            },
            "js":{
                "version":"1.0",
                "base_path":"/js"
            }
        }
    }
}
