{% extends "layout.html.twig" %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <h1>Login</h1>

        {% if error %}
            <div class="alert alert-error">
                {{ error }}
            </div>
        {% endif %}

        <form class="form-horizontal login-form"
              method="POST"
              action="{{ path('admin_login_check') }}"
              novalidate {{ form_enctype(form) }}
        >
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}
