{% extends "layout.html" %}

{% block content %}

<div class="col-md-12">
    <h2 class="text-center">Add a Todo:</h2>

    {{ include('/partials/todo-form-horizontal.html') }}

</div>
<div class="clearfix"></div>
<h1 class="text-center">Todo List:</h1>

<div id="app">
    <v-todo-table :columns="columns" :data="data" :options="options">
       <a slot="title" slot-scope="props" :href="props.row.url">${ props.row.title }</a>
       <a slot="url" slot-scope="props" :href="props.row.url" class="glyphicon glyphicon-pencil"></a>
       <form slot="delete" slot-scope="props" method="post" :action="props.row.delete">
            <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
       </form>
       <template slot="child_row" scope="props" class="text-left">
            <h2>${ props.row.title }</h2>
            <div class="col-md-4 text-left vue-child">
                <div><b>Status:</b>${ props.row.status }</div>
                <div><b>Created at:</b> ${ props.row.created }</div>
                <div><b>Updated at:</b> ${ props.row.updated }</div>
            </div>
            <div class="col-md-8 vue-child">
                <div><b>Description:</b><br> ${ props.row.description }</div>
            </div>
       </template>
    </v-todo-table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.8/vue.min.js"></script>
<script src="/js/vue-tables.js"></script>
<script> var todo = {{ todos|raw }};</script>
<script src="/js/todo.js"></script>

{% endblock %}
