{% extends "layout.html" %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <h1>Todo List:</h1>
    
    {% set confirmations = app.session.flashbag.get('todo_confirmation') %}
    {% for confirmation in confirmations %}
        <div class="alert alert-success">
            {{ confirmation }}
        </div>
    {% endfor %}
    
    <table class="table table-striped">
    	<tr>
    		<th>#</th>
	        <th>User</th>
	        <th>Description</th>
	        <th>Is completed ?</th>
	        <th colspan="3"></th>
    	</tr>
        {% for todo in todos %}
        	<tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
	                {% if todo.is_completed == 1 %}
	                		yes
	                {% else %}
	                		no
	                {% endif %}
                </td>
                <td>
                	<a href="{{ app.request.baseurl }}/todo/{{ todo.id }}?format=json">View as JSON</a>
                </td>
                <td>
                    <form method="post" action="{{ app.request.baseurl }}/todo/is_completed/{{ todo.id }}">
                        <button type="submit" class="btn btn-xs btn-success" title="Mark as completed"><span class="glyphicon glyphicon-ok"></span></button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                        <button type="submit" class="btn btn-xs btn-danger" title="Delete"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        
        {% set errors = app.session.flashbag.get('todo_add_errors') %}
        {% set has_errors = errors|length > 0 %}
        {% for error_message in errors %}
			<tr>
				<td colspan="4" class="bg-danger">
					{{ error_message }}
				</td>
			</tr>
		{% endfor %}
        
        <tr>
            <form method="post" action="{{ app.request.baseurl }}/todo/add">
                <td colspan="4"{% if has_errors %} class="has-error"{% endif %}>
                    <input type="textbox" name="description" class="small-6 small-center form-control" placeholder="Description...">
                </td>
                <td colspan="3">
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}