{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>

    {% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for msg in app.session.flashBag.get('success') %} {{ msg }} {% endfor %}
    </div>
    {% endif %}

    {% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        {% for msg in app.session.flashBag.get('error') %} {{ msg }} {% endfor %}
    </div>
    {% endif %}

    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th></th><th></th>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ app.request.baseurl }}/todo/mark/{{ todo.id }}">
                        <button type="submit" class="btn btn-xs btn-success">
                            <span class="glyphicon glyphicon-ok glyphicon-white" data-toggle="tooltip" title="mark as done"></span>
                        </button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}" onsubmit="return confirm('Are you sure you want to delete this todo?');">
                    <button type="submit" class="btn btn-xs btn-danger">
                        <span class="glyphicon glyphicon-remove glyphicon-white" data-toggle="tooltip" title="delete task"></span>
                    </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ app.request.baseurl }}/todo/add">
                <td colspan="4">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description..." required>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}