{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Encoded Todo:</h1>
    <table class="table table-striped">
        <th>Json</th><th colspan="2">Actions</th>
        <tr>
            <td>{{ encoded_todo }}</td>
            <td>
                {% if todo.status != 'COMPLETED' %}
                <form method="post" action="{{ app.request.baseurl }}/todo/complete/{{ todo.id }}">
                    <button type="submit" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok glyphicon-white"></span></button>
                </form>
                {% endif %}
            </td>
            <td>
                <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>
            </td>
        </tr>
    </table>
</div>
<div class="col-md-4 col-md-offset-4">
<a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">View regular version of this todo.</a>
</div>

{% endblock %}